[user]
	name = Moritz Grauel
	email = mo@notadomain.com
[http]
	sslKey = /Users/mo/.ssh/id_rsa
[core]
	excludesfile = /Users/mo/.gitignore
	editor = /usr/bin/vim
	autocrlf = input
[credential]
	helper = osxkeychain
[push]
	default = current
[mergetool]
	keepBackup = true
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
