[user]
	name = Moritz Grauel
	email = mo@notadomain.com
[http]
	sslKey = /Users/mo/.ssh/id_rsa
[core]
	excludesfile = /Users/mo/.gitignore
	editor = /usr/bin/vim
	autocrlf = input
[credential]
	helper = osxkeychain
[push]
	default = simple
[rerere]
	enabled = true
